table, th, td {
    border: 2px solid #fefefe;
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
    /* border-style: outset; */
}

th, td {
    background-color:crimson;
    font-size:1.5em;
    width: 33.33%;

}

table {
    width: 100%;
    color: #fefefe;
}

th {
    color: darkorange;
    font-size: 2em;
}

tr {
    height: 145px;
}
