table {
    border: 3px solid black;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

th, td {
    border: 1px solid #808080;
    border-radius: 5px;
    width: 14.2857%;
    height: 100px;
}

col {
    background-color: lightslategray;
}

caption {
    caption-side: bottom;
    font-size: 1.5rem;
    font-weight: bold;
}

