body {
    margin: 0%;
}

table, th, td {
    border: 2px solid;
    border-radius: 10px;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    width: 33.33%;
    /* border-spacing: 50px; */
    color: azure;
}

table {
    width: 100%;
}

th, td {
    background-color: black;
}

tr {
    height: 145px;
}

caption {
    caption-side: top;
    text-align: center;
    background-color: darkblue;
    padding: 10px;
}

