table, th, td {
    border: 2px solid #fefefe;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    /* border-radius: 10px; */
}

th, td {
    background-color: #96D4D4;
    border-radius: 10px;
    border-style: outset;
    border-color: rgb(231, 234, 239);
}
